body {
  margin: 0;
  padding: 0;
}



nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color:rgb(159, 107, 159);
  color:ghostwhite;
  z-index: 1;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  float: left;
}

nav a {
  display: block;
  color: rgb(240, 249, 250);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  background-color:rgb(231, 216, 57);
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navMenu {
  font-family: 'Times New Roman', Times, serif, sans-serif;
}

#section1 { background-color:honeydew; }
#section2 { background-color:snow; }
#section3 { background-color:floralwhite; }